<h1>Seja bem vindo ao nosso site de criação de moedas!</h1>
<p>Aqui você pode criar e gerenciar suas próprias moedas digitais.</p>
<ul>
<li><%= link_to 'Cadastro de Moedas', coins_path %></li>
</ul>
<br>
<p id="current-time"><%= l(Time.current, format: "%d/%m/%Y %H:%M:%S") %></p>

<script>
    function updateTime() {
        const currentTimeElement = document.getElementById('current-time');
        const now = new Date();
        const formattedTime = now.toLocaleString('pt-BR', { 
            year: 'numeric', month: '2-digit', day: '2-digit', 
            hour: '2-digit', minute: '2-digit', second: '2-digit' 
        });
        currentTimeElement.innerText = formattedTime;
    }

    setInterval(updateTime, 1000);
</script>